name: Publish to WinGet
on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      release_tag:
        required: true
        description: 'Tag of release you want to publish'
        type: string
jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: vedantmgoyal9/winget-releaser@v2
        with:
          identifier: Syngnat.GoNavi
          installers-regex: 'windows-(amd64|arm64)\.exe$'
          release-tag: ${{ inputs.release_tag || github.event.release.tag_name }}
          # Make sure that the WINGET_TOKEN has the permissions for the repo, workflow, and pull_request.
          token: ${{ secrets.WINGET_TOKEN }}
